body {
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
}

header {
    padding: 20px;
}

#logo {
    width: 400px;
}

hr {
    border: 2px solid black;
}

nav {
    margin-bottom: 20px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
}

main a:hover, nav a:hover {
    background: yellow;
    font-weight: bold;
}

/* flexbox info is from this website: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
nav, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 36px;
}

article a {
    padding: 5px;
    color: black;
}

/* product card */
/* product in the gallery*/
.product-offering {
    display: flex;
    flex-direction: column;
}

.product-offering img {
    border: 4px solid black;
}

.product-offering.gallery img {
    width: 400px; height: 400px;
    margin-bottom: 2px; 
}

/* product in the detail page*/
.product-offering-description.detail {
    width: 225px;
    margin: 20px auto;
}

.product-offering.detail img {
    width: 600px; height: 600px;
}