body {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 300; font-size: 18px; /* all body text, not headings */
    color: black;
}

/* heading and text styles */
h1 {
    font-weight: 300;
    font-size: 36px;
}

h2 {
    font-weight: 300;
    font-size: 20px;
}

p {
    margin: 0px;
}

/* header and logo for all pages */
header {
    padding: 20px;
}

#logo {
    width: 400px;
}

hr {
    border: 2px solid black;
}

/*nav for all pages */
nav {
    margin-bottom: 20px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
}

main a:hover, nav a:hover {
    background: yellow;
    font-weight: bold;
}

/* flexbox info is from this website: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
nav, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article a {
    padding: 5px;
    color: black;
}

/* product card */
/* product in the gallery*/
.product-offering {
    display: flex;
    flex-direction: column;
}

.product-offering img {
    border: 4px solid black;
}

.product-offering.gallery img {
    width: 400px; height: 400px;
    margin-bottom: 2px; 
}

/* product in the detail page*/
.product-offering-description.detail {
    width: 225px;
    margin: 20px auto;
}

.product-offering.detail img {
    width: 600px; height: 600px;
}

/* customize options on detail page */
.customize-options, .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.options, .total-addToCart {
    width: 225px;
}

select {
    margin: 5px 0px;
}

/* total and add to cart on detail page */
.total-addToCart {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

button {
    background-color: yellow;
    border: 2px solid black;
    padding: 5px 10px;
    font-weight: bold;
}